<section class="single-recipe-container">
  <img
    class="single-recipe-image"
    src="../../{{recipe_image}}"
  />



  <nav class="single-recipe-nav">
    <a class="single-recipe-nav-item" href="#summary-scroll">Overview</a>
    <a class="single-recipe-nav-item" href="#ingredients-scroll">Ingredients</a>
    <a class="single-recipe-nav-item" href="#method-scroll">Method</a>
  </nav>

  <div class="single-recipe-title-container">
    <h1 class="single-recipe-title">{{recipe_title}}</h1>
    <h2 class="single-recipe-by">by</h2>
    <a class="single-recipe-author-link" href="/user/{{user_id}}"><h2
        class="single-recipe-author"
      >{{user.first_name}} {{user.last_name}}</h2></a>
      <div class="single-recipe-button-container"><button class="recipe-like single-recipe-nav-item"><i class="fas fa-heart single-recipe-heart-icon"></i></button> {{recipe_likes}} LIKES</div>
  </div>

  <section class="single-recipe-details">
    <div class="single-recipe-cooking-time"><h2
        class="recipe-detail-container"
      ><i class="fa-solid fa-clock single-clock"></i>Cooking time: {{#if recipe_cooking_time_hours}}{{recipe_cooking_time_hours}} hrs {{/if}}{{#if recipe_cooking_time_minutes}}{{recipe_cooking_time_minutes}}
        mins{{/if}}</h2></div>
    <div class="single-recipe-serves"><h2 class="recipe-detail-container"><i
          class="fa-solid fa-utensils single-clock"
        ></i>serves: {{recipe_serves}}</h2></div>
        
  </section>
  {{#if recipe_jam}}
  <section class="recipe-jam">
   <h2 class="jam-title">{{user.first_name}}'s Kitchen Jam</h2>
  <a class="recipe-jam-link" href={{recipe_jam}} target="_blank">
          <button class="fa-solid fa-circle-play fa-xl"></button>
         </a>
          </section>
          {{/if}}
        
  
  <section class="single-recipe-summary-container" id="summary-scroll">
    <h2 class="single-recipe-subheader">Summary</h2>
    <p class="single-recipe-summary">"{{recipe_summary}}"</p>
  </section>

  <section class="single-recipe-ingredients-container" id="ingredients-scroll">
    <h2 class="single-recipe-subheader">Ingredients</h2>
    <div class="single-recipe-list-container">
      <ol class="single-recipe-ingredient-list">
         {{#each recipe_ingredients}}
            <li class="single-recipe-list-item"><span class="list-item-text">{{this}}</span></li>
          {{/each}}
      </ol>
    </div>
  </section>

  <section class="single-recipe-method-container" id="method-scroll">
    <h2 class="single-recipe-subheader">Method</h2>
    <div class="single-method-list-container">
      <ol class="single-recipe-method-list">
        {{#each recipe_method}}
          <li class="single-method-list-item"> <span class="method-list-item-text">{{this}}</span> </li>
        {{/each}}
      </ol>
    </div>
  </section>

  <section class="single-recipe-comments-container">
      <h2 class="single-recipe-subheader comment-subheader">Comments</h2>
{{#each comments as |comment|}}
        {{> comment-cards }}
    {{/each}}

<div class="single-recipe-input-holder">
    <input class="single-recipe-comment-input" id="single-recipe-comment-input" type="text" placeholder="Enter comment">
<button class="single-recipe-comment-button" id="single-recipe-comment-button"><i class="fa-solid fa-comment"></i>comment</button>
</div>
  </section>
 </section>
 
 
 


  {{#if isMyRecipe}}
  <section class="single-recipe-footer">
  <button class="single-recipe-update-recipe-btn" id="update-recipe-btn" type="click"> <a class="srubl" href="/edit-recipe/{{id}}">Update Recipe</a> </button>
  <button class="single-recipe-delete-recipe-btn" id="delete-recipe-btn" type="click" >Delete Recipe </button>
  </section>
  {{/if}}


<script src="/js/delete-recipe.js"></script>
<script src="/js/comment.js"></script>
<script src="/js/update-recipe-likes.js"></script>

 
