<div class="single-recipe-card">

  <div class="recipe-header">
    <h3 class="recipe-title">{{this.title}}</h3>
    <h4 class="recipe-title">Written by
      {{user.first_name}}
      {{user.last_name}}</h4>
    <div class="recipe-info">
      <h5 class="recipe-info-box">
        Cooking time:
        {{this.recipe_cooking_time}}
        minutes</h5>
      <h5 class="recipe-info-box"> Serves {{this.recipe_serves}}</h5>
    </div>
  </div>
  <p class="recipe-body">

  </p>

</div>