<div class="single-recipe-box">
  <section class="recipe-top">
    <div class="recipe-image-box">
      <img
        class="recipe-image"
        src="/uploads/{{recipe_image}}"
        alt="Recipe image"
      />
    </div>
    <div class="recipe-nav-wrap">
      <div class="recipe-nav">
        <div class="recipe-nav-container">
          <div class="recipe-buttons">
            <a
              class="recipe-nav-button"
              href="#overview-link"
              class="navbar-item"
            >Overview</a>
            <a
              class="recipe-nav-button"
              href="#ingredients-link"
              class="navbar-item"
            >Ingredients</a>
            <a
              class="recipe-nav-button"
              href="#method-link"
              class="navbar-item"
            >Method</a>
          </div>
          <div class="recipe-nav-sharing">
            <div class="recipe-sharing-links">
              <a
                href="https://twitter.com"
                class="fab fa-twitter"
                target="_blank"
              ></a>
              <a
                href="https://facebook.com"
                class="fab fa-facebook-f"
                target="_blank"
              ></a>
              <a
                href="https://instagram.com"
                class="fab fa-instagram"
                target="_blank"
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="top-rhs" id="overview-link">
      <h1 class="recipe-title">{{recipe_title}}</h1>
       <span class="like-icon"><i class="far fa-heart fa-2x"></i> 11 </span>
      <h3 class="recipe-author">
        By
        <a href="/user/{{user.id}}" id="recipe-user-name">
          {{user.first_name}} {{user.last_name}}</a></h3>
      <br />
      <div class="recipe-info">
        <h5 class="recipe-info-box">
          <p>Cooking time ~
          {{recipe_cooking_time_hours}}
          hrs
          {{recipe_cooking_time_minutes}}
          mins</h5>
        <h5 class="recipe-info-box"> Serves {{recipe_serves}}</h5>
      </div>
      <div class="recipe-summary">
        <p class="recipe-summary-body">
          <div class="summary-title-holder">
            <h4 class="section-title">SUMMARY</h4>
          </div>
          "{{recipe_summary}}"
        </p>
      </div>
    </div>
    <br />
  <section class="recipe-bottom">
    <div class="ingredients" id="ingredients-link">
      <div class="ingredients-container">
        <h4 class="section-title">INGREDIENTS</h4>
      <ul class="ingredients-list">
        {{#each recipe_ingredients}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
    </div>
    
    <div class="nutrition-container">
      <div class="nutrition-title">
      <h3>Nutrition per serving</h3>
      </div>
      <div class="nutrition-body">
      <p>Calories:</p>
      <p>Protein:</p>
      <p>Fat:</p>
      <p>Carbs:</p>
      </div>
    </div>
    <div class="method-comment-container">
    <div class="method-comment-row">
    <div class="recipe-method" id="method-link">
      <div class="method-container">
      <h4 class="section-title">METHOD</h4>
      <ol class="method-list">
        {{#each recipe_method}}
          <li> <br />
          {{this}}</li>
        {{/each}}
      </ol>
      </div>
    </div>
    <div class="comments-partials">
      <h4 class="section-title">COMMENTS</h4>
       {{#each comments as |comment|}}
        {{> comment-cards }}
    {{/each}}
    </div>
  </div>
  </div>
  </section>

 
</div>


{{! <script src="/js/single-recipe.js"></script> }}