<div class="add-recipe-container">
  <section class="add-recipe-header">
    <h1>Update your recipe</h1>
    <p>Edit the below information and click update recipe</p>
  </section>
  <form id="myForm" name="myForm">
    <section class="add-recipe-form">
      <p class="input-title">RECIPE IMAGE</p>
      <input type="file" class="file-upload" id="myFile" name="recipe_image" />
      <p class="input-title">RECIPE NAME</p>
      <input
        type="text"
        class="add-recipe-name"
        id="add-recipe-name"
        placeholder="E.g. Salmon Pesto Pasta"
        name="recipe_title"
        value="{{this.recipe_title}}"
      />
      <p class="input-title">TOTAL TIME</p>
      <p class="sub-text">What is the total recipe time for both prep and
        cooking?</p>
      <div class="cooking-time-wrapper">
        <input
          type="number"
          class="add-recipe-cooking-time-hours"
          id="add-recipe-cooking-time-hours"
          name="recipe_hours"
          value="{{this.recipe_cooking_time_hours}}"
        />
        <label class="cooking-time-hours">hours</label>
        <input
          type="number"
          class="add-recipe-cooking-time-mins"
          id="add-recipe-cooking-time-mins"
          name="recipe_mins"
          value="{{this.recipe_cooking_time_minutes}}"
        />
        <label class="cooking-time-mins">minutes</label>
      </div>
      <p class="input-title">PORTIONS</p>
      <p class="sub-text">How many people does the recipe serve?</p>
      <input
        type="number"
        class="add-recipe-serves"
        id="add-recipe-serves"
        name="recipe_serves"
        value="{{this.recipe_serves}}"
      />
      <p class="input-title">SUMMARY</p>
      <p class="sub-text">Give a brief overview of the recipe.</p>
      <textarea
        type="text"
        class="add-recipe-summary"
        id="add-recipe-summary"
        name="recipe_summary"
      >{{this.recipe_summary}}</textarea>

{{!-- ----------------------------- --}}

<p class="input-title">RECIPE DIET</p>
      <p class="sub-text">Select your recipes dietary preferences.</p>
      <label for="recipe_diet">Choose a dietary requirement</label>
      <select name="recipe_diet" id="diet-options">
        <option name="recipe_diet" value="Vegan">Vegan</option>
        <option name="recipe_diet" value="Vegetarian">Vegetarian</option>
        <option name="recipe_diet" value="Halal">Halal</option>
        <option name="recipe_diet" value="Pescatarian">Pescatarian</option>
        <option name="recipe_diet" value="Gluten free">Gluten free</option>
        <option name="recipe_diet" value="Lactose free">Lactose free</option>
        <option name="recipe_diet" value="Shellfish">Shellfish</option>
      </select>

      <p class="input-title">RECIPE SPICE</p>
      <p class="sub-text">Check the box if the recipe is spicy.</p>
      <input type="checkbox" id="spice" name="recipe_spice" value="Spice" />
      <label for="spice">Spicy</label>
      <p class="input-title">RECIPE MAIN INGREDIENTS</p>
      <p class="sub-text">What are the main ingredients of the recipe?</p>
      <input
        type="checkbox"
        id="beef"
        name="recipe_ingredients_tags"
        value="Beef"
      />
      <label for="beef">Beef</label>
      <input
        type="checkbox"
        id="vegetables"
        name="recipe_ingredients_tags"
        value="Vegetables"
      />
      <label for="vegetables">Vegetables</label>
      <input
        type="checkbox"
        id="pasta"
        name="recipe_ingredients_tags"
        value="Pasta"
      />
      <label for="pasta">Pasta</label>
      <input
        type="checkbox"
        id="poultry"
        name="recipe_ingredients_tags"
        value="Poultry"
      />
      <label for="poultry">Poultry</label>
      <input
        type="checkbox"
        id="pork"
        name="recipe_ingredients_tags"
        value="Pork"
      />
      <label for="pork">Pork</label>
      <input
        type="checkbox"
        id="seafood"
        name="recipe_ingredients_tags"
        value="Seafood"
      />
      <label for="seafood">Seafood</label>
      <p class="input-title">RECIPE CUISINE</p>
      <p class="sub-text">What is the recipe cuisine?</p>
     
      <label for="recipe_cuisine">Choose a cuisine</label>

      <select name="recipe_cuisine" id="cuisine-options">
        <option name="recipe_cuisine" value="Chinese">Chinese</option>
        <option name="recipe_cuisine" value="Italian">Italian</option>
        <option name="recipe_cuisine" value="Spanish">Spanish</option>
        <option name="recipe_cuisine" value="Portuguese">Portuguese</option>
        <option name="recipe_cuisine" value="American">American</option>
        <option name="recipe_cuisine" value="English">English</option>
        <option name="recipe_cuisine" value="Indian">Indian</option>
        <option name="recipe_cuisine" value="Asian">Asian</option>
        <option name="recipe_cuisine" value="French">French</option>
        <option name="recipe_cuisine" value="European">European</option>
        <option name="recipe_cuisine" value="Middle Eastern">Middle Eastern</option>
      </select>


 

{{!-- ------------------------------------------ --}}

      <p class="input-title">INGREDIENTS</p>
      <p class="sub-text">Remember to add the amount and unit.</p>
      <div class="recipe-ingredients-container">
        {{#each this.recipe_ingredients}}
          <input
            type="text"
            class="add-recipe-ingredients"
            id="add-recipe-ingredients"
            name="recipe_ingredients"
            placeholder="E.g. 75g Penne Pasta"
            value="{{this}}"
          />
        {{/each}}
      </div>
      <p class="input-title">METHOD</p>
      <div class="recipe-method-container">
        {{#each this.recipe_method}}
          <textarea
            class="add-recipe-method-step"
            id="add-recipe-method-step"
            name="recipe_method"
            placeholder="E.g. Step one: "
          >{{this}}</textarea>
        {{/each}}
      </div>
    </section>
  </form>
  <button class="update-recipe">Update recipe</button>
</div>

<script src="/js/update-recipe.js"></script>